@model HinttechPractice.Data.Vacation


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br/><br/>
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.VacationPeriodId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.VacationPeriodId)
                @Html.ValidationMessageFor(model => model.VacationPeriodId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId, new { @Value = "@ViewBag.UserId" })
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateFrom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateFrom ,new { @Value = "@ViewBag.Datum1" })
                @Html.ValidationMessageFor(model => model.DateFrom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateTo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTo, new { @Value = "@ViewBag.Datum2" })
                @Html.ValidationMessageFor(model => model.DateTo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { @Value = "@ViewBag.Opis" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSickLeave, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsSickLeave, new { @Value = "@ViewBag.IsSick" })
                @Html.ValidationMessageFor(model => model.IsSickLeave)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Calendar", "GetVacations")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
