@model IEnumerable<HinttechPractice.Data.Holiday>
    <br />
    <div style="text-align:center;margin-top:50px; font-size:20px;">
        <span class="glyphicon glyphicon-pencil"></span><br />
    </div>
    <div align="center" style="width: 500px; margin: 0 auto;">

        <form id="editAddForma" method="post" action="EditHoliday" onsubmit="return dateCheck()">

            <input type="hidden" name="HolidayId" value="@(ViewBag.holidayForEdit.HolidayId)" /><br />
            <input type="hidden" class="form-control" name="UserId" placeholder="UserId" value="@ViewBag.holidayForEdit.UserId" required /><br />
            <input type="date" class="form-control" name="DateFrom" id="DateFrom" placeholder="From" value="@ViewBag.holidayForEditFrom" required /><br />
            <input type="date" class="form-control" name="DateTo" id="DateTo" placeholder="To" value="@ViewBag.holidayForEditTo" required /><br />
            <input type="text" class="form-control" name="Description" maxlength="25" placeholder="Description" id="EditDescription" value="@ViewBag.holidayForEdit.Description" required /><br />
            <input type="submit" class="btn btn-success btn-block" value="Edit Holiday" id="EditHoliday"/><br />

        </form>

    </div>

                      <script>


  @{
      var arrayHolidays = @ViewBag.initHolidays;
  }
    function dateCheck() {

        var from = document.getElementById('DateFrom').value;
        var to = document.getElementById('DateTo').value;

        var date = new Date(to);
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var d2 = new Date(y, m, d);

        var d1 = new Date(from);

        if (d1.getDate() == d2.getDate() && d1.getMonth() == d2.getMonth() && d1.getYear() == d2.getYear()) {
            alertify.error('Start date cannot be the same as end date.');
            return false;
        }

        var listOfObjects = [];
        @foreach (var item in arrayHolidays)
            {
                <text>
        var singleObj = {}
        singleObj['HolidayId'] = "@item.HolidayId";
        singleObj['UserId'] = "@item.UserId";
        singleObj['DateFrom'] = "@item.DateFrom.ToString("yyyy-MM-dd")";
        singleObj['DateTo'] = "@item.DateTo.ToString("yyyy-MM-dd")";
        singleObj['Description'] = "@item.Description";
        listOfObjects.push(singleObj);
        </text>
            }

        var from = document.forms["editAddForma"]["DateFrom"].value;
        var to = document.forms["editAddForma"]["DateTo"].value;
        var holidayId = Number(@ViewBag.holidayForEdit.HolidayId);
        var overlap = false;
        for (var i = 0; i < listOfObjects.length; i++) {
            if (listOfObjects[i].HolidayId == holidayId) {
                continue;
            }
            if (from < listOfObjects[i].DateTo && listOfObjects[i].DateFrom < to) {
                overlap = true;
                break;
            }
            else {
                overlap = false;
            }

        }

        if (overlap) {
            alertify.error("There is already a holiday for that date.");
            return false;
        } else if (from > to) {

            alertify.error("Start date cannot be greater than end date.");
            return false;

        } else {

            return true;
        }
    }
</script>
