@model HinttechPractice.Models.UserViewModel

@{
    ViewBag.Title = "AccountDetails";
}

<br />
<br />
<div class="row" align="center">
    <div class="col-md-4 col-md-offset-4 bg-success">
        @{
            var imgSrc = "/Content/img/empty.png";
            if (Model.ProfilePicture != null)
            {
                var base64 = Convert.ToBase64String(Model.ProfilePicture);
                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

        }
        <img src="@imgSrc" height="250" width="250" />
        <hr/>

        <div class="list-group">
            <a class="list-group-item">Username: <b>@Model.Username</b></a>
            <a class="list-group-item">First name: <b>@Model.FirstName</b></a>
            <a class="list-group-item">Last name: <b>@Model.LastName</b></a>
            <a class="list-group-item">Email: <b>@Model.Email</b></a>
            <a class="list-group-item">Date created: <b>@Model.DateCreated.ToShortDateString()</b></a>
            <a class="list-group-item">Vacation days left: <b>@Model.VacationDays</b></a>
        </div>
    </div>
</div>
