@model HinttechPractice.Models.EditAccountViewModel

@{
    ViewBag.Title = "EditPage";

}
<br />
<br />
<div class="row" align="center">
    <div class="col-md-4 col-md-offset-4 bg-success">
        <form class="form-signin" role="form" method="POST" action="register" enctype="multipart/form-data">
            <input type="text" class="form-control" placeholder="First name" value="@Model.FirstName" name="FirstName" maxlength="25" required>
            <input type="text" class="form-control" placeholder="Last name" value="@Model.LastName" name="LastName" maxlength="25" required>
            <input type="email" class="form-control" placeholder="Email" value="@Model.Email" name="Email" required>

            <div class="form-group">
                @Html.LabelFor(model => model.removeImage)
                @Html.EditorFor(model => model.removeImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.removeImage)
            </div>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="file" name="file" id="file" style="width: 100%;" class=" btn btn-default" />
            </div>
            <br />
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Save" />
            <br /><br />
            @if (ViewBag.Error != null)
            {
                <div class="alert-danger message">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @ViewBag.Error
                    <br />
                </div>
            }
        </form>

    </div>
</div>
