@model IEnumerable<HinttechPractice.Models.HolidaysAndUsers>

    <div>
        @if (@ViewBag.prazanDan == null)
        {

            <div>
                <div style="text-align: center; padding-top: 50px; ">
                    <h2>Day: @ViewBag.dan</h2><br />
                </div>
                <div>
                    <table class="table table-bordered table-hover" style="width: 650px; margin: 0 auto; ">
                        <tr class="success">
                            <th style="width:120px;">
                                Name
                            </th>
                            <th style="width:70px;">
                                DateFrom
                            </th>
                            <th style="width:70px;">
                                DateTo
                            </th>
                            <th style="width:150px;">
                                Description
                            </th>

                            <th style="width:60px;">Edit</th>
                            <th style="width:60px;">Delete</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.firstName @item.lastName
                                </td>
                                <td>
                                    @item.DateFrom.ToString("MM.dd.yyyy")
                                </td>
                                <td>
                                    @item.DateTo.ToString("MM.dd.yyyy")
                                </td>
                                <td>
                                    @item.Descrition
                                </td>

                                <td>
                                    <form method="post" action="EditHolidayRedirect">
                                        <input type="hidden" value="@item.HolidayId" name="HolidayId" />
                                        <input type="submit" class="btn btn-info" value="Edit" />
                                    </form>
                                </td>

                                <td>
                                    <form method="post" action="RemoveHoliday">
                                        <input type="hidden" value="@item.HolidayId" name="HolidayId" />
                                        <input type="submit" class="btn btn-danger" value="Delete" />
                                    </form>
                                </td>

                            </tr>
                        }

                    </table>
                </div>
            </div>
        }
       

        <br />
        <br />
        <br />
        <div id="bilokako" align="center" style="width:500px; margin:0 auto;">
            <form id="editAddForma" method="post" action="AddHoliday" onsubmit="return dateCheck()">
                <input type="hidden" class="form-control" name="UserId" placeholder="UserId" value="@ViewBag.idOfUser" /><br />
                <input type="date" class="form-control" name="DateFrom" placeholder="From" value="@ViewBag.dan" required /><br />
                <input type="date" class="form-control" name="DateTo" placeholder="To" value="@ViewBag.danDo" required /><br />
                <input type="text" class="form-control" autofocus="autofocus" name="Description" placeholder="Description" required /><br />
                <input type="submit" class="btn btn-success btn-block" value="Add Holiday" /><br />
            </form>
        </div>
    </div>

    <script>
        function dateCheck() {
            var from = document.forms["editAddForma"]["DateFrom"].value;
            var to = document.forms["editAddForma"]["DateTo"].value;
            if (from > to) {
                
                alertify.error("Start date cannot be greater than end date.");
                return false;
                
            } else {
                
                return true;
            }
        }
    </script>



