@using PagedList;
@using PagedList.Mvc;
@model IPagedList<HinttechPractice.Data.User>

@{
    ViewBag.Title = "ShowAllUsers";
}
   <br/>
                      <br />
<table class="table table-hover table-bordered" id="myTable">
    <tr>
        <th>
            Username
        </th>
        <th>
            First name
        </th>
        <th>
            Last name
        </th>
        <th>
            Email
        </th>
        <th>
            Registered?
        </th>
        <th>
            Date created
        </th>
        <th>
            Last login date
        </th>
        <th>
            Vacation days
        </th>
        <th>Change state</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td style="text-align:center">
            @if ((item.IsUserRegistered))
            {

                <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-remove"></span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginDate)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.VacationDays)
        </td>
        <td>
            @Html.ActionLink(" Change ", "ConfirmRegistration", "Admin", new { id = item.Username }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>
       @Html.PagedListPager(Model, page => Url.Action("ShowAllUsers", new { page }), new PagedListRenderOptions()
       {
           Display = PagedListDisplayMode.IfNeeded,
           DisplayPageCountAndCurrentLocation = true
       })
    <br />
     @Html.ActionLink(" Reset all vacation days to 20 ", "ResetVacationDays", "Admin", null, new { @class = "btn btn-success btn-lg" })